# Arquivos Terraform
*.tfstate
*.tfstate.*

# Arquivos de backup
*.bak
*.backup
*~

# Diretórios Terraform
.terraform/

# Arquivos de configuração
terraform.tfstate
terraform.tfstate.backup

# Arquivos de log
terraform.log
*.env-local
*.terraform.lock.hcl